<header class="navbar navbar-fixed-top navbar-inverse" id="top" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/admin" class="navbar-brand">
      Wedding Admin Page
    </a>
  </div>
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
      <!--
      <li class="active">
        <a href="#invitee_list" role="tab" data-toggle="tab">Invitee List</a>
      </li>
    -->
      <li class="navbar-actions">
        <button class="btn btn-success">Import Spreadsheet</button>
      </li>
    </ul>
  </nav>
</header>
<div class="tab-content main_content">
  <div class="tab-pane active" id="invitee_list">
    <div class="section">
      <table class="table table-condensed table-bordered table-striped">
        <thead>
          <tr>
            <th></th>
            <th>first_name</th>
            <th>last_name</th>
            <th>salutation</th>
            <th>email</th>
            <th>access_code</th>
            <th>phone</th>
            <th>street_address</th>
            <th>city</th>
            <th>state</th>
            <th>zip</th>
            <th>other_people</th>
            <th>invited_to_ceremony</th>
            <th>invited_to_reception</th>
            <th>invited_by</th>
            <th>invitee_batch_a</th>
            <th>invitee_batch_b</th>
            <th>rsvp_ceremony</th>
            <th>rsvp_reception</th>
            <th>rsvp_sent</th>
            <th>reminder_sent</th>
            <th>wedding_info_sent</th>
            <th>table_number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Sunthar</td>
            <td>Premakumar</td>
            <td>Sunny</td>
            <td>sunnysunthar@gmail.com</td>
            <td>abc123</td>
            <td>4083554249</td>
            <td>1300 Montecito Ave, Apt 4</td>
            <td>Mountain View</td>
            <td>CA</td>
            <td>94043</td>
            <td>Preeth Kumar, Indu Premakumar, Thiru Premakumar, Dhanya Premakumar</td>
            <td>1</td>
            <td>1</td>
            <td>Sunthar</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Sunthar</td>
            <td>Premakumar</td>
            <td>Sunny</td>
            <td>sunnysunthar@gmail.com</td>
            <td>abc123</td>
            <td>4083554249</td>
            <td>1300 Montecito Ave, Apt 4</td>
            <td>Mountain View</td>
            <td>CA</td>
            <td>94043</td>
            <td>Preeth Kumar, Indu Premakumar, Thiru Premakumar, Dhanya Premakumar</td>
            <td>1</td>
            <td>1</td>
            <td>Sunthar</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Sunthar</td>
            <td>Premakumar</td>
            <td>Sunny</td>
            <td>sunnysunthar@gmail.com</td>
            <td>abc123</td>
            <td>4083554249</td>
            <td>1300 Montecito Ave, Apt 4</td>
            <td>Mountain View</td>
            <td>CA</td>
            <td>94043</td>
            <td>Preeth Kumar, Indu Premakumar, Thiru Premakumar, Dhanya Premakumar</td>
            <td>1</td>
            <td>1</td>
            <td>Sunthar</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Sunthar</td>
            <td>Premakumar</td>
            <td>Sunny</td>
            <td>sunnysunthar@gmail.com</td>
            <td>abc123</td>
            <td>4083554249</td>
            <td>1300 Montecito Ave, Apt 4</td>
            <td>Mountain View</td>
            <td>CA</td>
            <td>94043</td>
            <td>Preeth Kumar, Indu Premakumar, Thiru Premakumar, Dhanya Premakumar</td>
            <td>1</td>
            <td>1</td>
            <td>Sunthar</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>