<header class="navbar navbar-default navbar-fixed-top navbar-wedding" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Preeth &amp; Sunthar</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#about_us" role="tab" data-toggle="tab">About Us</a>
        </li>
        <li>
          <a href="#festivities" role="tab" data-toggle="tab">Festivities</a>
        </li>
        <li>
          <a href="#wedding_party" role="tab" data-toggle="tab">Wedding Party</a>
        </li>
        <li>
          <a href="#the_city" role="tab" data-toggle="tab">The City</a>
        </li>
        <li>
          <a href="#rsvp" role="tab" data-toggle="tab">RSVP</a>
        </li>
        <li>
          <a href="#registry" role="tab" data-toggle="tab">Registry</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="tab-content main_content">
  <div class="tab-pane active" id="about_us">
    <div class="jumbotron about_us_bg">
    </div>
  </div>
  <div class="tab-pane" id="festivities">
    <div class="jumbotron festivities">
    </div>
  </div>
  <div class="tab-pane" id="wedding_party">
    <div class="jumbotron about_us_bg">
    </div>
  </div>
  <div class="tab-pane" id="the_city">
    <div class="jumbotron festivities">
    </div>
  </div>
  <div class="tab-pane" id="rsvp">
    <div class="jumbotron about_us_bg">
    </div>
  </div>
  <div class="tab-pane" id="registry">
    <div class="jumbotron festivities">
    </div>
  </div>
</div>






